.OnlineEstimate-Container{
    display: grid;
    justify-content: center;
    background: #136DC0;
    padding: 30px;
    border-radius: 10px;
    position: sticky;
    top: -50px;
    max-width: 300px;
    min-width: 260px;
}



.OnlineEstimate-Container h1{
    font: 1.3em sans-serif;
    color: white;
}

.OnlineEstimate-Container button {
    height: 40px;
    width: 130px;
    border: none;
    background: #136DC0;
    color: white;
    border-radius: 7px;
}

.OnlineEstimate-Container form{
    display: grid;
    justify-items: center;
  
}


.OnlineEstimate-Container select{
    display: grid;
    height: 40px;
    width: 200px;
    font: 1em sans-serif;
    padding: 10px;
}

    

.OnlineEstimate-Container a button{
    background-color: whitesmoke;
    width: 250px;
    color: #136DC0;
    font: 1.3em sans-serif;
    height: 45px;
}